<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
</head>

<body>
    <h1>Welcome {{username}} to the dashboard</h1>
    <p>This is the dashboard page for managers only.</p>
    <a href="{{url_for('home')}}">Home</a>
    <iframe title="IMSStore" width="1140" height="541.25"
        src="https://app.powerbi.com/reportEmbed?reportId=a6a57b30-61d8-4427-bc04-501c3ffd4045&autoAuth=true&ctid=da9a94b6-4681-49bc-bd7c-bab9eac0ad3c"
        frameborder="0" allowFullScreen="true">
    </iframe>
</body>

</html>